<!DOCTYPE HTML>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="wrapper">
		<%= render 'layouts/header' %>
		<div class="title-p-bg">
			<div class="wrapper-content title-page">
				<div class="content">
					<h3>About us</h3>
				</div>
			</div>
		</div><!--.title-p-bg-->

		<div class="clearfix"></div>

		<div class="content pt-69">

			<div class="about-us">
				<blockquote>
					<h3>It all started with the lemonade.</h3>
					<p>Maecenas condimentum tempor urna at varius. Aenean lectus turpis, sollicitudin ut lorem dapibus id, sagittis sed tellus. Aliquam erat volutpat. Nunc venenatis odio quis arcu volutpat pulvinar. Morbi quis ligula eget risus convallis ultrices eu in mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</blockquote>
				<p>Maecenas condimentum tempor urna at varius. Aenean lectus turpis, sollicitudin ut lorem dapibus id, sagittis sed tellus. Aliquam erat volutpat. Nunc venenatis odio quis arcu volutpat pulvinar. Morbi quis ligula eget risus convallis ultrices eu in mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum dui nec quam porta sed placerat massa scelerisque. Etiam nec adipiscing mauris. Vitae diam mauris. Suspendisse potenti. Nam ut odio ullamcorper lacus ullamcorper egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec posuere sapien a neque vehicula cursus. Morbi non leo nisl, sit amet lacinia felis.</p>
				<div class="image-block">
					<div class="img">
						<img data-lazy-img="img/about-us-img.jpg" src="img/dot.png" alt="" height="563">
					</div>
				</div><!--.image-block-->
			</div><!--.about-us-->

			<div class="clients">
				<div class="content-title mb-22">
					<h3 class="content-title-inner">
						<span>Clients</span>
					</h3>
				</div><!--.content-title-->
				<ul>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-1.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-2.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-3.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-4.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-5.png" src="img/dot.png" alt="">
						</a>
					</li>
				</ul>
			</div><!--.clients-->


			<div class="clearfix"></div>

			<div class="get-in">
				<a href="#"><span>Get  in touch</span></a>
				<span class="like-works">Like what you see?</span>
				<span class="sep"></span>
				<span class="can-do">We can do more stuff like this for you!</span>
			</div><!--.get-in-->

		</div><!--.content.pt-69-->

		<div class="clearfix"></div>

		<%= render 'layouts/footer' %>
	</div><!--#wrapper-->
	</body>
</html>
