<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Corporata</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/colorbox.css">
	<link rel="stylesheet" href="css/style.css">	
	<!--[if IE 8]>
		<link rel="stylesheet" href="css/ie8.css" />
	<![endif]-->
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/ie7.css" />
		<script type="text/javascript" src="js/ie.js"></script>
	<![endif]-->
	
	
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="header" id="header">
				<h1 class="logo"><a href="index.html">Corp<span>o</span>rata</a></h1>
				<ul class="head-menu">
					<li class="border-a"></li>
					<li class="dropdown">
						<a id="drop-home" href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
						<ul id="menu1" class="dropdown-menu" aria-labelledby="drop-home">
							<li><a href="index.html">Home</a></li>
							<li><a href="index-slider-1.html">Home Slider First</a></li>
							<li><a href="index-slider-2.html">Home Slider Two</a></li>
							<li><a href="index-slider-3.html">Home Slider Tree</a></li>
							<li><a href="index-slider-4.html">Home Slider Four</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li class="dropdown">
						<a id="drop-features" href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
						<ul id="menu2" class="dropdown-menu" aria-labelledby="drop-features">
							<li><a href="about-us.html">About us</a></li>
							<li><a href="pricing-page.html">Pricing Tables</a></li>
							<li><a href="content.html">Content</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="faq.html">F.A.Q.</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="portfolio.html">Portfolio</a>
					</li>
					<li class="dropdown active">
						<a id="drop-blog" href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
						<ul id="menu4" class="dropdown-menu" aria-labelledby="drop-blog">
							<li class="active"><a href="blog.html">Blog</a></li>
							<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
							<li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="contact.html">Contacts</a>
					</li>
				</ul><!--.head-menu-->
				<div class="search">
					<input type="search">
					<button>search</button>
				</div><!--.search-->			
			</div><!--#header.header-->
		</header>
		<div class="title-p-bg">
			<div class="wrapper-content title-page">
				<div class="content">
					<h3>Blog</h3>
				</div>
			</div>
		</div><!--.title-p-bg-->

		<div class="clearfix"></div>

		<div class="content pt-61 page-content">
			
			<aside>
				<div class="block">
					<h3 class="aside-title">Сategories</h3>
					<ul class="blog-categories">
						<li><a href="#"><i></i>Artwork</a></li>
						<li><a href="#"><i></i>Paintings</a></li>
						<li><a href="#"><i></i>Photos</a></li>
						<li><a href="#"><i></i>Sketches</a></li>
						<li><a href="#"><i></i>Videos</a></li>
					</ul><!--.blog-categories-->
				</div><!--.block-->
				<div class="block pb-27">
					<h3 class="aside-title">Contact Info</h3>
					<ul id="sidebar-inst" class="sidebar-inst"></ul>
				</div><!--.block.pb-27-->
				<div class="block pb-27">
					<h3 class="aside-title">Recent Works</h3>
					<ul class="recent-posts">
						<li>
							<a href="img/placehold.png" class="z-image group1">
								<i></i>
								<img data-lazy-img="img/recent-img/img-1.jpg" src="img/dot.png" alt="">
							</a>
							<span>Post with some shortcodes example of lorem ipsum</span>
						</li>
						<li>
							<a href="img/placehold.png" class="z-image group1">
								<i></i>
								<img data-lazy-img="img/recent-img/img-2.jpg" src="img/dot.png" alt="">
							</a>
							<span>Vitae diam mauris</span>
						</li>
						<li>
							<a href="img/placehold.png" class="z-image group1">
								<i></i>
								<img data-lazy-img="img/recent-img/img-3.jpg" src="img/dot.png" alt="">
							</a>
							<span>Post with some shortcodes example of lorem ipsum</span>
						</li>
					</ul><!--.recent-posts-->
				</div><!--.block.pb-27-->
				<div class="block">
					<h3 class="aside-title">Latest posts</h3>
					<ul class="latest-posts">
						<li>
							<span class="date">11 jul</span>
							<a href="#">Macro photography tips, tricks &amp; advices</a>
						</li>
						<li>
							<span class="date">11 jul</span>
							<a href="#">Macro photography tips, tricks &amp; advices</a>
						</li>
						<li>
							<span class="date">11 jul</span>
							<a href="#">Macro photography tips, tricks &amp; advices</a>
						</li>
					</ul><!--.latest-posts-->
				</div><!--.block-->
			</aside>

			<div class="blog">
				<div class="post-content">
					<h3 class="blog-title"><a href="#">Embed Code Vimeo</a></h3>
					<div class="p-img">
						<a href="img/placehold.png" class="group1">
							<i></i>
							<img data-lazy-img="http://placehold.it/662x367/f1f1f1/" src="img/dot.png" alt="">
						</a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi lorem. Sed vitae felis nisl, at venenatis tortor. In at velit ac turpis aliquam volutpat. Ut et nibh augue. Integer imperdiet convallis massa nec gravida. Sed eleifend porta urna. Praesent non nisi tellus, ut lobortis massa. Sed pretium pretium elit et vulputate. Quisque nec justo lacus. Phasellus tristique sapien ut dui sagittis feugiat. Pellentesque quis leo vitae magna vulputate ultrices quis vitae justo. Nulla vel imperdiet augue.</p>
					<div class="p-posted">
						<span class="comm-info">5 COMMENTS</span>
						<a href="#" class="post-read">Read more...</a>
						<span class="p-time">posted on <strong>Tuesday, September 7th, 2012 at 2:34 pm</strong></span>
					</div>
				</div><!--.post-content-->
				<div class="post-content">
					<h3 class="blog-title"><a href="#">Embed Code Vimeo</a></h3>
					<div class="p-img">
						<a href="img/placehold.png" class="group1">
							<i></i>
							<img data-lazy-img="http://placehold.it/662x367/f1f1f1/" src="img/dot.png" alt="">
						</a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi lorem. Sed vitae felis nisl, at venenatis tortor. In at velit ac turpis aliquam volutpat. Ut et nibh augue. Integer imperdiet convallis massa nec gravida. Sed eleifend porta urna. Praesent non nisi tellus, ut lobortis massa. Sed pretium pretium elit et vulputate. Quisque nec justo lacus. Phasellus tristique sapien ut dui sagittis feugiat. Pellentesque quis leo vitae magna vulputate ultrices quis vitae justo. Nulla vel imperdiet augue.</p>
					<div class="p-posted">
						<span class="comm-info">5 COMMENTS</span>
						<a href="#" class="post-read">Read more...</a>
						<span class="p-time">posted on <strong>Tuesday, September 7th, 2012 at 2:34 pm</strong></span>
					</div>
				</div><!--.post-content-->
				<div class="post-content">
					<h3 class="blog-title"><a href="#">Embed Code Vimeo</a></h3>
					<div class="p-img">
						<a href="http://player.vimeo.com/video/11673745" class="vimeo">
							<img data-lazy-img="http://b.vimeocdn.com/ts/645/888/64588848_640.jpg" src="img/dot.png" alt="">
							<i></i>
						</a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi lorem. Sed vitae felis nisl, at venenatis tortor. In at velit ac turpis aliquam volutpat. Ut et nibh augue. Integer imperdiet convallis massa nec gravida. Sed eleifend porta urna. Praesent non nisi tellus, ut lobortis massa. Sed pretium pretium elit et vulputate. Quisque nec justo lacus. Phasellus tristique sapien ut dui sagittis feugiat. Pellentesque quis leo vitae magna vulputate ultrices quis vitae justo. Nulla vel imperdiet augue.</p>
					<div class="p-posted">
						<span class="comm-info">5 COMMENTS</span>
						<a href="#" class="post-read">Read more...</a>
						<span class="p-time">posted on <strong>Tuesday, September 7th, 2012 at 2:34 pm</strong></span>
					</div>
				</div><!--.post-content-->
			</div><!--.blog-->
		</div><!--.content.pt-61-->

		<div class="clearfix"></div>

		<footer class="content">
			<div class="cont-block">
				<h3 class="f-title"><span>Contact info</span></h3>
				<ul class="cont-list">
					<li><b>Address:</b> 1234 Street Name, City Name, MD</li>
					<li><b>Phone Number:</b> +01 234 567 890</li>
					<li><b>Fax Number:</b> +01 234 567 890</li>
					<li><b>Email:</b> company@company.com</li>
					<li><b>Website:</b> www.yourdomain.com</li>
				</ul>
				<ul class="social">
					<li class="face">
						<a href="#">face</a>
						<i class="social-name">facebook</i>
					</li>
					<li class="twit">
						<a href="#">twit</a>
						<i class="social-name">twitter</i>
					</li>
					<li class="instagram">
						<a href="#">instagram</a>
						<i class="social-name">instagram</i>
					</li>
					<li class="in">
						<a href="#">in</a>
						<i class="social-name">in</i>
					</li>
					<li class="google">
						<a href="#">google</a>
						<i class="social-name">google</i>
					</li>						
				</ul>
			</div>	

			<div class="twit-block">
				<h3 class="f-title"><span>Twitter</span></h3>
				<ul class="twit-list">
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
				</ul>
			</div><!--.twit-block-->

			<div class="inst-block">
				<h3 class="f-title"><span>Instagram Widget</span></h3>
				<ul class="inst-photo" id="instagram"></ul>
			</div><!--.reminst-blockove-->
			<div class="clearfix"></div>
		</footer> 
	</div><!--#wrapper-->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.js"><\/script>')</script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="js/vendors/bootstrap.js"></script>
  <script src="js/vendors/instagram.js"></script>
  <script src="js/vendors/superfish.js"></script>
  <script src="js/vendors/jquery.colorbox.js"></script>
  <script src="js/lazy-images.js"></script>
  <script src="js/script.js"></script>
</body>
</html>