<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Corporata</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">	
	<!--[if IE 8]>
		<link rel="stylesheet" href="css/ie8.css" />
	<![endif]-->
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/ie7.css" />
		<script type="text/javascript" src="js/ie.js"></script>
	<![endif]-->	
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="header" id="header">
				<h1 class="logo"><a href="index.html">Corp<span>o</span>rata</a></h1>
				<ul class="head-menu">
					<li class="border-a"></li>
					<li class="dropdown">
						<a id="drop-home" href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
						<ul id="menu1" class="dropdown-menu" aria-labelledby="drop-home">
							<li><a href="index.html">Home</a></li>
							<li><a href="index-slider-1.html">Home Slider First</a></li>
							<li><a href="index-slider-2.html">Home Slider Two</a></li>
							<li><a href="index-slider-3.html">Home Slider Tree</a></li>
							<li><a href="index-slider-4.html">Home Slider Four</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li class="dropdown active">
						<a id="drop-features" href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
						<ul id="menu2" class="dropdown-menu" aria-labelledby="drop-features">
							<li><a href="about-us.html">About us</a></li>
							<li><a href="pricing-page.html">Pricing Tables</a></li>
							<li><a href="content.html">Content</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li class="active"><a href="faq.html">F.A.Q.</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="portfolio.html">Portfolio</a>
					</li>
					<li class="dropdown">
						<a id="drop-blog" href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
						<ul id="menu4" class="dropdown-menu" aria-labelledby="drop-blog">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
							<li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="contact.html">Contacts</a>
					</li>
				</ul><!--.head-menu-->
				<div class="search">
					<input type="search">
					<button>search</button>
				</div><!--.search-->			
			</div><!--#header.header-->
		</header>
		<div class="title-p-bg">
			<div class="wrapper-content title-page">
				<div class="content">
					<h3>F.A.Q.</h3>
				</div>
			</div>
		</div><!--.title-p-bg-->

		<div class="clearfix"></div>

		<div class="content pt-69 faq-page page-content">

			<div class="clearfix mb-44">
				<h3 class="page-title">Frequently Asked Questions</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi lorem. Sed vitae felis nisl, at venenatis tortor. In at velit ac turpis aliquam volutpat. Ut et nibh augue. Integer imperdiet convallis massa nec gravida. Sed eleifend porta urna. Praesent non nisi tellus, ut lobortis massa. Sed pretium pretium elit et vulputate. Quisque nec justo lacus. Phasellus tristique sapien ut dui sagittis feugiat. Pellentesque quis leo vitae magna vulputate ultrices quis vitae justo.</p>
			</div><!--.clearfix.mb-44-->
			
			<div class="left-bl">
				<div class="accordion w-100pr" id="accordion1">
					<div class="accordion-group active">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-1">
								<span>Helpful Resources for Authors</span>
							</a>
						</div>
						<div id="collapse-1" class="accordion-body collapse in">
							<div class="accordion-inner">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, aliquam, quam, sequi alias magni nihil incidunt eius voluptatum quibusdam iure minima quidem fuga placeat aliquid necessitatibus sit inventore quasi odit.
							</div>
						</div>
					</div><!--.accordion-group.active-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-2">
								<span>How much money can I make?</span>
							</a>
						</div>
						<div id="collapse-2" class="accordion-body collapse">
							<div class="accordion-inner">
								Is a critical part of the website development process. It is highly important to design intuitive interface that includes consistent navigation structure, option buttons, information architecture, and other significant interface elements that meet user.
							</div>
						</div>
					</div><!--.accordion-group-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-3">
								<span>Tips for Increasing Your Referral Income</span>
							</a>
						</div>
						<div id="collapse-3" class="accordion-body collapse">
							<div class="accordion-inner">
								Is a critical part of the website development process. It is highly important to design intuitive interface that includes consistent navigation structure, option buttons, information architecture, and other significant interface elements that meet user.
							</div>
						</div>
					</div><!--.accordion-group-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-4">
								<span>An Introduction to the Marketplaces for Authors</span>
							</a>
						</div>
						<div id="collapse-4" class="accordion-body collapse">
							<div class="accordion-inner">
								Is a critical part of the website development process. It is highly important to design intuitive interface that includes consistent navigation structure, option buttons, information architecture, and other significant interface elements that meet user.
							</div>
						</div>
					</div><!--.accordion-group-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-5">
								<span>How do I become an author?</span>
							</a>
						</div>
						<div id="collapse-5" class="accordion-body collapse">
							<div class="accordion-inner">
								Is a critical part of the website development process. It is highly important to design intuitive interface that includes consistent navigation structure, option buttons, information architecture, and other significant interface elements that meet user.
							</div>
						</div>
					</div><!--.accordion-group-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-6">
								<span>How do I pay for items on the Marketplaces?</span>
							</a>
						</div>
						<div id="collapse-6" class="accordion-body collapse">
							<div class="accordion-inner">
								Is a critical part of the website development process. It is highly important to design intuitive interface that includes consistent navigation structure, option buttons, information architecture, and other significant interface elements that meet user.
							</div>
						</div>
					</div><!--.accordion-group-->
				</div><!--#accordion1.accordion-->
			</div><!--.left-bl-->

			<div class="right-bl">
				<form action="http://themes.myterranet.com/corporata/light-theme/faq.html" class="ask-q">
					<fieldset>
						<h3 class="form-t">We’ve Got Answers for you!</h3>
						<input type="text" id="inputName" placeholder="Name" class="name-input">
						<input type="text" id="inputEmail" placeholder="E-mail" class="email-input">
						<input type="text" id="inputSubject" placeholder="Subject" class="subject">
						<textarea name="question" id="question" cols="30" rows="10" placeholder="Question"></textarea>
						<button>SEND question</button>
					</fieldset>
				</form>
			</div><!--.right-bl-->
			<div class="clearfix"></div>
			<div class="get-in">
				<a href="#">Get in touch</a>
				<span class="like-works">Like what you see?</span>
				<span class="sep"></span>
				<span class="can-do">We can do more stuff like this for you!</span>				
			</div>
		</div><!--.content.pt-69.faq-page-->

		<div class="clearfix"></div>

		<footer class="content">
			<div class="cont-block">
				<h3 class="f-title"><span>Contact info</span></h3>
				<ul class="cont-list">
					<li><b>Address:</b> 1234 Street Name, City Name, MD</li>
					<li><b>Phone Number:</b> +01 234 567 890</li>
					<li><b>Fax Number:</b> +01 234 567 890</li>
					<li><b>Email:</b> company@company.com</li>
					<li><b>Website:</b> www.yourdomain.com</li>
				</ul>
				<ul class="social">
					<li class="face">
						<a href="#">face</a>
						<i class="social-name">facebook</i>
					</li>
					<li class="twit">
						<a href="#">twit</a>
						<i class="social-name">twitter</i>
					</li>
					<li class="instagram">
						<a href="#">instagram</a>
						<i class="social-name">instagram</i>
					</li>
					<li class="in">
						<a href="#">in</a>
						<i class="social-name">in</i>
					</li>
					<li class="google">
						<a href="#">google</a>
						<i class="social-name">google</i>
					</li>						
				</ul>
			</div>	

			<div class="twit-block">
				<h3 class="f-title"><span>Twitter</span></h3>
				<ul class="twit-list">
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
				</ul>
			</div><!--.twit-block-->

			<div class="inst-block">
				<h3 class="f-title"><span>Instagram Widget</span></h3>
				<ul class="inst-photo" id="instagram"></ul>
			</div><!--.reminst-blockove-->
			<div class="clearfix"></div>
		</footer> 
	</div><!--#wrapper-->

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.js"><\/script>')</script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="js/vendors/bootstrap.js"></script>
  <script src="js/vendors/instagram.js"></script>
  <script src="js/vendors/superfish.js"></script>
  <script src="js/lazy-images.js"></script>
	<script src="js/script.js"></script>
</body>
</html>