<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Corporata</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/colorbox.css">
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" href="css/ie8.css" />
	<![endif]-->
	<link rel="stylesheet" href="css/slider-4.css">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/ie7.css" />
		<script type="text/javascript" src="js/ie.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="header" id="header">
				<h1 class="logo"><a href="index.html">Corp<span>o</span>rata</a></h1>
				<ul class="head-menu">
					<li class="border-a"></li>
					<li class="dropdown active">
						<a id="drop-home" href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
						<ul id="menu1" class="dropdown-menu" aria-labelledby="drop-home">
							<li><a href="index.html">Home</a></li>
							<li><a href="index-slider-1.html">Home Slider First</a></li>
							<li><a href="index-slider-2.html">Home Slider Two</a></li>
							<li><a href="index-slider-3.html">Home Slider Tree</a></li>
							<li class="active"><a href="index-slider-4.html">Home Slider Four</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li class="dropdown">
						<a id="drop-features" href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
						<ul id="menu2" class="dropdown-menu" aria-labelledby="drop-features">
							<li><a href="about-us.html">About us</a></li>
							<li><a href="pricing-page.html">Pricing Tables</a></li>
							<li><a href="content.html">Content</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="faq.html">F.A.Q.</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="portfolio.html">Portfolio</a>
					</li>
					<li class="dropdown">
						<a id="drop-blog" href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
						<ul id="menu4" class="dropdown-menu" aria-labelledby="drop-blog">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
							<li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="contact.html">Contacts</a>
					</li>
				</ul><!--.head-menu-->
				<div class="search">
					<input type="search">
					<button>search</button>
				</div><!--.search-->
			</div><!--#header.header-->
		</header>
		<div class="wrapper-content">
			<button class="home-prev" data-swipe-nav="main" data-dir="prev">&lsaquo;</button>
			<button class="home-next" data-swipe-nav="main" data-dir="next">&rsaquo;</button>
			<div class="swipe home-slide" data-swipe="main" data-auto="5000">
				<div class="swipe-wrap">
					<div>
						<img src="img/slider-img/s-img-1.jpg" alt="">
						<div class="content">
							<div class="slider-content">
								<p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the opening of the San Francisco Bay into the Pacific Ocean. As part of both U.S. Route 101 and California State Route, the structure links the city of San Francisco, on the northern tip of the San Francisco Peninsula, to Marin County. It is one of the most internationally recognized symbols of San Francisco, California.</p>
							</div>
						</div>
					</div>
					<div>
						<img src="img/slider-img/s-img-2.jpg" alt="">
						<div class="content">
							<div class="slider-content">
								<p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the opening of the San Francisco Bay into the Pacific Ocean. As part of both U.S. Route 101 and California State Route, the structure links the city of San Francisco, on the northern tip of the San Francisco Peninsula, to Marin County. It is one of the most internationally recognized symbols of San Francisco, California.</p>
							</div>
						</div>
					</div>
					<div>
						<img src="img/slider-img/s-img-3.jpg" alt="">
						<div class="content">
							<div class="slider-content">
								<p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the opening of the San Francisco Bay into the Pacific Ocean. As part of both U.S. Route 101 and California State Route, the structure links the city of San Francisco, on the northern tip of the San Francisco Peninsula, to Marin County. It is one of the most internationally recognized symbols of San Francisco, California.</p>
							</div>
						</div>
					</div>
					<div>
						<img src="img/slider-img/s-img-4.html" alt="">
						<div class="content">
							<div class="slider-content">
								<p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the opening of the San Francisco Bay into the Pacific Ocean. As part of both U.S. Route 101 and California State Route, the structure links the city of San Francisco, on the northern tip of the San Francisco Peninsula, to Marin County. It is one of the most internationally recognized symbols of San Francisco, California.</p>
							</div>
						</div>
					</div>
				</div><!--.swipe-wrap-->
			</div><!--#mySwipe.swipe.home-slide-->
		</div><!--.wrapper-content-->

		<div class="content">
			<div class="get-start">
				<a href="#">Get started</a>
				<h3>We can make your business stand out in the crowd</h3>
			</div><!--.get-start-->

			<div class="clearfix"></div>

			<div class="row-fluid home-info">
				<div class="span4">
					<h3 class="item-1">Who we are?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis condimentum bibendum. Donec et pulvinar eros. Phasellus fringilla placerat purus, sit amet suscipit nisi molestie quis. </p>
				</div>
				<div class="span4">
					<h3 class="item-2">What we do?</h3>
					<p>Donec et pulvinar eros. Phasellus fringilla placerat purus, sit amet suscipit nisi molestie quis. Nulla facilisi. Etiam sollicitudin cursus nulla eget dictum. Sed consequat vehicula erat. Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="span4">
					<h3 class="item-3">How we do it?</h3>
					<p>Phasellus fringilla placerat purus, sit amet suscipit nisi molestie quis. Nulla facilisi. Etiam sollicitudin cursus nulla eget dictum. Sed consequat vehicula erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div><!--.row-fluid.home-info-->

			<div class="clearfix"></div>

			<div class="recent">
				<div class="content-title">
					<h3 class="content-title-inner">
						<span>RECENT WORK</span>
					</h3>					
				</div><!--.content-title-->
				<div class="recent-works recent-works-ready">
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-1.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-2.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-3.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-4.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-5.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-6.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-7.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item">
						<a href="img/placehold.png" class="group1">
							<img data-lazy-img="img/portfolio-img/img-8.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
				</div><!--.recent-works-->
			</div><!--.recent-->

			<div class="get-in">
				<a href="#">Get in touch</a>
				<span class="like-works">Like what you see?</span>
				<span class="sep"></span>
				<span class="can-do">We can do more stuff like this for you!</span>
			</div><!--.get-in-->

		</div><!--.contect-->

		<div class="clearfix"></div>

		<footer class="content">
			<div class="cont-block">
				<h3 class="f-title"><span>Contact info</span></h3>
				<ul class="cont-list">
					<li><b>Address:</b> 1234 Street Name, City Name, MD</li>
					<li><b>Phone Number:</b> +01 234 567 890</li>
					<li><b>Fax Number:</b> +01 234 567 890</li>
					<li><b>Email:</b> company@company.com</li>
					<li><b>Website:</b> www.yourdomain.com</li>
				</ul>
				<ul class="social">
					<li class="face">
						<a href="#">face</a>
						<i class="social-name">facebook</i>
					</li>
					<li class="twit">
						<a href="#">twit</a>
						<i class="social-name">twitter</i>
					</li>
					<li class="instagram">
						<a href="#">instagram</a>
						<i class="social-name">instagram</i>
					</li>
					<li class="in">
						<a href="#">in</a>
						<i class="social-name">in</i>
					</li>
					<li class="google">
						<a href="#">google</a>
						<i class="social-name">google</i>
					</li>
				</ul>
			</div>

			<div class="twit-block">
				<h3 class="f-title"><span>Twitter</span></h3>
				<ul class="twit-list">
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
				</ul>
			</div><!--.twit-block-->

			<div class="inst-block">
				<h3 class="f-title"><span>Instagram Widget</span></h3>
				<ul class="inst-photo" id="instagram"></ul>
			</div><!--.reminst-blockove-->
			<div class="clearfix"></div>
		</footer>
	</div><!--#wrapper-->

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.js"><\/script>')</script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="js/vendors/bootstrap.js"></script>
  <script src="js/vendors/instagram.js"></script>
  <script src="js/vendors/superfish.js"></script>
  <script src="js/vendors/jquery.colorbox.js"></script>
  <script src="js/vendors/swipe.js"></script>
  <script src="js/lazy-images.js"></script>
	<script src="js/script.js"></script>
<script>
(function($) {
	var $body = $('body');
	$(window).on('resize.sliderReflow', function() {
		if ($body.width() <= 767) {
			$('.home-prev, .home-next').css('top',$('.home-slide.swipe img').height()/2+'px');
		} else {
			$('.home-prev').css({
				'top': 'auto',
				'bottom':'64px'
			});
			$('.home-next').css('top','auto').css('bottom','0');
		}
	}).trigger('resize.sliderReflow');
})(jQuery);
</script>

</body>
</html>
