<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Corporata</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/colorbox.css">
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE 8]>
		<link rel="stylesheet" href="css/ie8.css" />
	<![endif]-->
	<!-- Scripts -->
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/ie7.css" />
		<script type="text/javascript" src="js/ie.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="header" id="header">
				<h1 class="logo"><a href="index.html">Corp<span>o</span>rata</a></h1>
				<ul class="head-menu">
					<li class="border-a"></li>
					<li class="dropdown">
						<a id="drop-home" href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
						<ul id="menu1" class="dropdown-menu" aria-labelledby="drop-home">
							<li><a href="index.html">Home</a></li>
							<li><a href="index-slider-1.html">Home Slider First</a></li>
							<li><a href="index-slider-2.html">Home Slider Two</a></li>
							<li><a href="index-slider-3.html">Home Slider Tree</a></li>
							<li><a href="index-slider-4.html">Home Slider Four</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li class="dropdown">
						<a id="drop-features" href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
						<ul id="menu2" class="dropdown-menu" aria-labelledby="drop-features">
							<li><a href="about-us.html">About us</a></li>
							<li><a href="pricing-page.html">Pricing Tables</a></li>
							<li><a href="content.html">Content</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="faq.html">F.A.Q.</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li class="active">
						<a href="portfolio.html">Portfolio</a>
					</li>
					<li class="dropdown">
						<a id="drop-blog" href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
						<ul id="menu4" class="dropdown-menu" aria-labelledby="drop-blog">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
							<li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
						</ul><!--.dropdown-menu-->
					</li>
					<li>
						<a href="contact.html">Contacts</a>
					</li>
				</ul><!--.head-menu-->
				<div class="search">
					<input type="search">
					<button>search</button>
				</div><!--.search-->			
			</div><!--#header.header-->
		</header>
		<div class="title-p-bg">
			<div class="wrapper-content title-page">
				<div class="content">
					<h3>Portfolio</h3>
				</div>
			</div>
		</div><!--.title-p-bg-->

		<div class="clearfix"></div>

		<div class="content">
			
			<div class="categories page-content">
				<div class="port-page">
					<a class="active" href="#recent-1">Portfolio</a>
					<a class="w-desc" href="#recent-2">Portfolio with description</a>
				</div>
				<span>Featured Work:</span>
				<ul>
					<li class="active" data-tab="all"><a href="#"><span>ALL</span></a></li>
					<li data-tab="artwork"><a href="#"><span>ARTWORK</span></a></li>
					<li data-tab="paintings"><a href="#"><span>PAINTINGS</span></a></li>
					<li data-tab="photos"><a href="#"><span>PHOTOS</span></a></li>
					<li data-tab="sketches"><a href="#"><span>SKETCHES</span></a></li>
					<li data-tab="video"><a href="#"><span>VIDEOS</span></a></li>
				</ul>				
			</div><!--.categories-->

			<div class="clearfix"></div>

			<div class="recent pt-42" id="recent-1">
				<div class="recent-works" data-masonry-cols="4" data-masonry-item=".portfolio-item">
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-1.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="artwork">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-2.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-3.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="artwork">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-4.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="paintings">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-5.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="paintings">
						<a href="img/placehold.png"class='group1'>
							<img data-lazy-img="img/portfolio-img/img-6.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-7.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="sketches">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-8.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-9.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="sketches">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-10.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-11.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="video">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-12.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="video">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-13.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="video">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-14.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="video">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-15.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
					<div class="portfolio-item" data-category="photos">
						<a href="img/placehold.png" class='group1'>
							<img data-lazy-img="img/portfolio-img/img-16.jpg" src="img/dot.png" alt="">
							<div class="h-block">
								<h3>Kelly Clark <br>Photography</h3>
							</div>
						</a>
					</div>
				</div><!--.recent-works-->
			</div><!--.recent.pt-42-->

			<div class="recent pt-35 page-content" id="recent-2">

				<div class="descr-works" data-category="paintings">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-1.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Claim Pillot</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
							<li>Web Development</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works-->

				<div class="descr-works" data-category="photos">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-2.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Ted Todd</h3>
						<p>Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works-->

				<div class="descr-works" data-category="artwork">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-3.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Snappy</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works.mb-46-->

				<div class="descr-works" data-category="photos">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-1.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Claim Pillot</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
							<li>Web Development</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works-->

				<div class="descr-works" data-category="sketches">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-2.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Ted Todd</h3>
						<p>Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works-->

				<div class="descr-works" data-category="video">
					<a href="img/placehold.png" class="image group1">
						<i></i>
						<img data-lazy-img="img/portfolio-img/l-img-3.jpg" src="img/dot.png" alt="">
					</a>
					<div class="descript">
						<h3>Snappy</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tellus nec felis porta porttitor. Pellentesque tellus urna, blandit vitae mattis convallis, bibendum vitae augue. Nam id urna ut velit molestie fringilla quis ut nulla. Curabitur accumsan posuere nulla ut fermentum. </p>
						<ul class="categ">
							<li>Branding</li>
							<li>Web Design</li>
						</ul>
						<a href="#" class="visit">Visit website</a>
					</div><!--.descript-->
				</div><!--.descr-works.mb-46-->
			</div><!--.recent.pt-35-->

			
			<div class="content-title">
				<h3 class="content-title-inner">
					<span>TESTIMONIALS</span>
				</h3>					
			</div><!--.content-title-->

			<div class="row-fluid testim page-content">
				<div class="span4">
					<div class="u-img">
						<i></i>
						<img data-lazy-img="img/our-personal/img-1.jpg" src="img/dot.png" alt="">
						<div class="u-info">
							<h3>John Huggins</h3>
							<span>CEO Loremus GmbH</span>
						</div>
					</div>
					<p class="info">Worked already several times with Corporata & got design again. They are really good in guessing a customers needs and setting up a modern design and also gives it a little artistic touch. Definitely worth the money, i will hire them again. Highly recommend!</p>
					<a class="u-link" href="#">www.loremus.eu</a>
				</div>
				<div class="span4">
					<div class="u-img">
						<i></i>
						<img data-lazy-img="img/our-personal/img-2.jpg" src="img/dot.png" alt="">
						<div class="u-info">
							<h3>John Huggins</h3>
							<span>CEO Loremus GmbH</span>
						</div>
					</div>
					<p class="info">Worked already several times with Corporata &amp; got design again. They are really good in guessing a customers needs and setting up a modern design and also gives it a little artistic touch. Definitely worth the money, i will hire them again. Highly recommend!</p>
					<a class="u-link" href="#">www.loremus.eu</a>
				</div>
				<div class="span4">
					<div class="u-img">
						<i></i>
						<img data-lazy-img="img/our-personal/img-3.jpg" src="img/dot.png" alt="">
						<div class="u-info">
							<h3>John Huggins</h3>
							<span>CEO Loremus GmbH</span>
						</div>
					</div>
					<p class="info">Worked already several times with Corporata & got design again. They are really good in guessing a customers needs and setting up a modern design and also gives it a little artistic touch. Definitely worth the money, i will hire them again. Highly recommend!</p>
					<a class="u-link" href="#">www.loremus.eu</a>
				</div>
			</div><!--.row-fluid.testim-->

			<div class="clients">
				<div class="content-title mb-22">
					<h3 class="content-title-inner">
						<span>Clients</span>
					</h3>					
				</div><!--.content-title-->
				<ul>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-1.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-2.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-3.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-4.png" src="img/dot.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img data-lazy-img="img/clients-img/img-5.png" src="img/dot.png" alt="">
						</a>
					</li>
				</ul>
			</div><!--.clients-->

			<div class="get-in">
				<a href="#">Get in touch</a>
				<span class="like-works">Like what you see?</span>
				<span class="sep"></span>
				<span class="can-do">We can do more stuff like this for you!</span>				
			</div><!--.get-in-->

		</div><!--.content-->

		<div class="clearfix"></div>

		<footer class="content">
			<div class="cont-block">
				<h3 class="f-title"><span>Contact info</span></h3>
				<ul class="cont-list">
					<li><b>Address:</b> 1234 Street Name, City Name, MD</li>
					<li><b>Phone Number:</b> +01 234 567 890</li>
					<li><b>Fax Number:</b> +01 234 567 890</li>
					<li><b>Email:</b> company@company.com</li>
					<li><b>Website:</b> www.yourdomain.com</li>
				</ul>
				<ul class="social">
					<li class="face">
						<a href="#">face</a>
						<i class="social-name">facebook</i>
					</li>
					<li class="twit">
						<a href="#">twit</a>
						<i class="social-name">twitter</i>
					</li>
					<li class="instagram">
						<a href="#">instagram</a>
						<i class="social-name">instagram</i>
					</li>
					<li class="in">
						<a href="#">in</a>
						<i class="social-name">in</i>
					</li>
					<li class="google">
						<a href="#">google</a>
						<i class="social-name">google</i>
					</li>						
				</ul>
			</div>	

			<div class="twit-block">
				<h3 class="f-title"><span>Twitter</span></h3>
				<ul class="twit-list">
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
					<li>
						<a href="#" class="twit-name">@Corporata</a> You’re allowed to choose more than one. Consecteur pellete sipsum
						<span class="twit-time">ABOUT 5 HOURS AGO</span>
					</li>
				</ul>
			</div><!--.twit-block-->

			<div class="inst-block">
				<h3 class="f-title"><span>Instagram Widget</span></h3>
				<ul class="inst-photo" id="instagram"></ul>
			</div><!--.reminst-blockove-->
			<div class="clearfix"></div>
		</footer> 
	</div><!--#wrapper-->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendors/jquery-1.9.1.js"><\/script>')</script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="js/vendors/bootstrap.js"></script>
  <script src="js/vendors/instagram.js"></script>
  <script src="js/vendors/superfish.js"></script>
  <script src="js/vendors/jquery.colorbox.js"></script>
  <script src="js/lazy-images.js"></script>
  <script src="js/vendors/jquery.masonry.js"></script>
	<script src="js/script.js"></script>
</body>
</html>