.swipe{
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: auto;
	overflow: hidden;
	visibility: visible;
}

.swipe div{
	float:left;
	width: 100%;
	position: relative;
}

.img-block{
	overflow: hidden;
	max-height: 526px;
}

header{
	position: relative;
	background: transparent;
	top: 0;
}

.home-slide.swipe{
	margin-bottom: 87px;
}

.video-swipe.home-slide.swipe{height: auto !important}

.home-slide.swipe img{width: 100%;}

.home-prev,
.home-next{
	position: absolute;
	z-index: 999;
	display: block;
	background: rgba(92,92,92,0.2) url('../img/home-slider-arrow.png') 22px 15px no-repeat;
	width: 66px;
	height: 66px;
	top: 50%;
	left: 0;
	border: none;
	padding: 0;
	text-indent: -999em;
	margin-top: -77px;
}

.home-next{
	background-position: -93px 15px;
	left: auto;
	right: 0;
}

.home-prev:hover,
.home-next:hover{
	background-color: rgba(250,250,250,0.2);
}

.slider-flip {
	-webkit-perspective:1000;
	-moz-perspective:1000;
	-ms-perspective:1000;
	-o-perspective:1000;
	perspective:1000;
	position: absolute;
	bottom: -87px;
	left: 50%;
	margin-left: -470px;
	height: 174px;
}

.slider-flip-flipped .slider-flip-flipper {
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
}

.slider-flip-flipper {
	height: 100%;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.slider-flip-front, .slider-flip-back {
	background: #f5f5f5 none;
	border-left: 23px solid #0096db;
	padding: 23px 32px 11px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}

.slider-flip-front {
	z-index: 2;
}

.slider-flip-back {
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
}

.slider-flip h3{
	margin: 0 0 13px;
	padding: 0;
	font-size: 32px;
	line-height: 39px;
	color: #322a26;
}

.slider-flip p{
	color: #322a26;
}

@media (min-width: 768px) and (max-width: 979px) {
	 .slider-flip{
		width: 100%;
		margin: 0;
		left: 0;
		position: static;
	}

	.home-slide.swipe{margin-bottom: 0;}
}


@media (max-width: 767px){

	header{
		position: relative;
	}

	.slider-flip{
		width: 100%;
		margin: 0;
		left: 0;
		position: static;
	}

	.home-slide.swipe{margin-bottom: 0;}

	.home-prev,
	.home-next{
		height: 46px;
		width: 46px;
		margin-top: -17px;
		background-image: url('../img/home-slider-arrow-min.png');
		background-position: 15px 12px;
	}

	.home-next{background-position: -71px 12px}

	.slider-flip p{line-height: 24px;}
}

@media (max-width: 480px){

	.slider-flip{
		width: 100%;
		margin: 0;
		left: 0;
		position: static;
	}

	 .home-slide.swipe{margin-bottom: 0;}

	 .home-prev,
	 .home-next{
		height: 33px;
		width: 33px;
		margin-top: -17px;
		background-image: url('../img/home-slider-arrow-min.png');
		background-position: 10px 6px;
	}

	.slider-flip p{
		line-height: 18px;
		font-size: 14px;
	}

	.home-next{background-position: -77px 6px}
}