<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Tooting Bec, Dry Cleaners, Quality Express">
  <meta name="description" content="Tooting Bec Dry Cleaners, Quality Express, Dry Cleaners">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <title>Quality Express Dry Cleaners</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/colorbox.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slider-2.css">
  <!--[if IE 8]>
    <link rel="stylesheet" href="css/ie8.css" />
  <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie7.css" />
    <script type="text/javascript" src="js/ie.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
